*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.Navbar{
    height: 75px;
    background: #F7F4ED;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.logo{
    /* border: 2px solid red; */
    margin-left: 60px;
}
.link{
    /* border: 2px solid red ; */
    margin-right: 60px; 
    
}
.link a{
        margin-left: 20px;
        color: black;
        text-decoration: none;
        font-size: 1em;
    }
#spcnavlink{
    background-color: black;
    color: white;
    padding: 7px 14px;
    border-radius: 80px;
}
.content-area{
    /* 475 */
    height:552px ;  
    color: black;
    background: #F7F4ED;
    border-bottom: 2px solid black;
    
    display: flex;
    justify-content: space-between;

     /* font-size: 2em;
    font-weight: 400; */
}
.text{
    /* border: 2px solid brown; */
    margin-left: 65px;
    margin-top: 100px; 
}
.text h1{
    font-size: 90px;
}
.text p{
    font-size: 1.4em;
    margin-top: 20px;
}
.text a{
    font-size: 1.4em;
    background-color: black;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 80px;

}
.image{
    /* border: 2px solid brown; */
    /* justify-content: space-between; */
    margin-right: 50px;
    
}
.buttom {
    /* 122 */
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-decoration: none;*/
     gap: 10px;  
     background: black;
    /* color: white;  */

}
.buttom a{
    text-decoration: none;
    /* gap: 10px;  
    text-decoration: none;
    gap: 10px;  
    background: black; */
    color: white;

    /* background: black;
    color: white; */


}


 /* .content-area h1{
    font-size: 4em;
    font-weight: 400; */
    /* letter-spacing: 1px; */
    /* margin-bottom: 5px;  */
    /* word-spacing: 20px;  */
    
/* } */

/* .st{
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;  */
    /* word-spacing: 20px;  */

/* } */
/* .content-area h3{
    font-size: 1.4em;
    font-weight: 100; */
    /* gap: 20px; */
    /* letter-spacing: 1px;
    margin-bottom: 50px; 
      
} */
/* .content-area span{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 80px;
    margin-bottom: 40px;

}  */

