*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}
.header{
    background: #13d6b5;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}
.header h1{
    margin-bottom: 10px;
}
.header p{
    font-size: 1.2em;
}
.leftcontainer{
    height: 600px;
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* float: left;
    padding-right: 20px; */
}
.leftcontainer img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}   
.leftcontainer h2{
    margin-bottom: 20px;
    color: #13d6b5;
}
.leftcontainer p{
    margin-bottom: 15px;
}
.leftcontainer h3{
    margin-bottom: 10px;
    color: #555;
}
button{
    display: inline-block;
    background: #13d6b5;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    display: block;
    
    
}

