*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.navbar{
    height: 50px;
    width: 100%;
    background: black;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
   
    
    
}
.navbar a{
    color: white;
    text-decoration: none;
    
}
.main_containner{
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.w3schools.com/w3images/coffeehouse.jpg');
   /* justify-content: center;
   align-items: center; */
    display: flex;
    justify-content: center;
    justify-items: center;
    
}
#para{
    color: white;
    font-size: 6em;
    font-weight: 500;
    margin-top: 250px;
    word-spacing: 28px;
   
}
.footer{
    
    display: flex;
    align-items: end;
    justify-content: space-around;
    /* padding-bottom: 30px; */
    

      
    
}
.footer span{
    height: 24px;
    width: 180px;
    background-color: black;
    color: white;
    display: block;
    
    /* margin-bottom: 30px; */
    
    /* margin-bottom: 50px; */
}
#foot{

}
